<?xml version='1.0' encoding='utf-8'?>
<plugin id="PluginDemoId" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyCodovaPluginDemo</name>
    <js-module name="MyCodovaPluginDemo" src="www/MyCodovaPluginDemo.js">
        <clobbers target="cordova.plugins.MyCodovaPluginDemo" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MyCodovaPluginDemo">
                <param name="android-package" value="PluginDemoId.MyCodovaPluginDemo" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/MyCodovaPluginDemo.java" target-dir="src/PluginDemoId/MyCodovaPluginDemo" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyCodovaPluginDemo">
                <param name="ios-package" value="MyCodovaPluginDemo" />
            </feature>
        </config-file>
        <source-file src="src/ios/MyCodovaPluginDemo.m" />
    </platform>
</plugin>